@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: antiquewhite;
  max-width: 1000px;
  margin: 0 auto;
}

header > h1 {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
  color: #664500;
  background-color: antiquewhite;
}

header > h2 {
  color: rgb(68, 107, 44);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
}
/* #divContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#divBox {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
} */

main > h2 {
  position: fixed;
  top: 50%;
  left: 20%;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  font-family: "Permanent Marker";
  font-size: xx-large;
  background-color: green;
  color: white;
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0.2rem 0.3rem 2px black;
  animation: gameover 1s;
  animation-fill-mode: forwards;
}

@keyframes gameover {
  0% {
    transform: scale(0);
    background-color: white;
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

header > p {
  background-color: rgb(246, 246, 171);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

label {
  font-size: 30px;
}

input {
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
  width: 30%;
  height: 70%;
  color: rgb(68, 107, 44);
  text-transform: uppercase;
  padding: 5px;
  margin: 2px;
}

button {
  font-family: "Montserrat";
  font-size: 1.2rem;
  width: 170px;
  height: 50px;
  padding: 10px;
}

#guessWord {
  background-color: antiquewhite;
  font-family: "Bowlby One SC", "Montserrat", sans-serif;
  letter-spacing: 30px;
  font-size: bold;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20%;
  box-shadow: 0 0 4px black;
}

@media (min-width: 700px) {
  main {
    display: flex;
    align-items: center;
  }
  #guessWord {
    background-color: white;
  }

  figure img {
    max-height: 700px;
  }
}
